<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css" type="text/css">
    <title>Spotify lab</title>
</head>

<body>
    <div class="home-container">
        <div class="form-wrapper">
            <form action='/artist-search' class="form group home-form" method='GET'>
                <input placeholder="Search for an artist!" class="form-control home page" type='text' name='artist'
                    id="artist-input">
                <button class="btn btn-primary home-search" type='submit'>Search for an Artist</button>
            </form>
        </div>

</body>

</html>